<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.2.xsd
	 ">
	
	<!-- 配置文件的方式配置Person   Person的单例、多例模式 -->
	<bean id="person" class="com.lddx.bean.Person" scope="singleton" lazy-init="false"></bean>
	
	<!-- 配置UserDao -->
	<!-- 
	<bean id="ud" class="com.lddx.bean.UserDao" destroy-method="myDestory" init-method="myInit"></bean>
 	-->
 
	<!-- 开启全包扫描 -->
	<context:component-scan base-package="com.lddx.bean"></context:component-scan>

</beans>
